{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/style.css">
{% endblock %}
{% block title %}Travel Agancy
{% endblock %}

{% block body %}
	{{ parent() }}
    <div class="container"></div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
